<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <h4 style="margin-left: 2%;">张总您好，ZMap网站于 收到一封客户的邮件请查收：</h4>
  <div style="width: 100%;height: 100%;">
    <div style="border: 1px solid #000;border-radius: 5px;width: 30%;background: #F2F6FC;">
      <ul>
        <li style="border-bottom: 1px solid #606266;width: 93%;">姓名：卢兵</li>
        <li style="border-bottom: 1px solid #606266;width: 93%;">公司：天正</li>
        <li style="border-bottom: 1px solid #606266;width: 93%;">手机：13122745298</li>
        <li style="border-bottom: 1px solid #606266;width: 93%;">邮箱：xxxxxxxx</li>
        <li>咨询内容：</li>
      </ul>
      <div style="width:90%;margin: 0 auto;">
        为日发射东方红而发士大夫说服我而覅就是领导反馈介入地方地方的欸日发送的的
      </div>
    </div>
  </div>
</body>
</html>
